In [224]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [225]:
data = pd.read_csv("loans_2007.csv")

C:\Users\nspac\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [226]:
data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [227]:
data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [228]:
data = data.drop(["id","member_id","funded_amnt","funded_amnt_inv","grade","sub_grade","emp_title","issue_d"],axis = 1)
#Dropping was done based on columns that were redundant and columns that were leaking information from the future

In [229]:
data = data.drop(["zip_code","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp"],axis = 1)
#Dropping was done based on columns that were redundant and columns that were leaking information from the future

In [230]:
data = data.drop(["total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt"],axis = 1)

In [231]:
len(data.columns)

32

In [232]:
data["loan_status"].value_counts()

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
Name: loan_status, dtype: int64

In [233]:
data = data[(data["loan_status"] == "Fully Paid")|(data["loan_status"] == "Charged Off")]
mapping_dict = {
    "loan_status": {
        "Fully Paid": 1,
        "Charged Off": 0,
    }
}
data = data.replace(mapping_dict)

In [234]:
data.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,initial_list_status,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000.0,36 months,10.65%,162.87,10+ years,RENT,24000.0,Verified,1,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,2500.0,60 months,15.27%,59.83,< 1 year,RENT,30000.0,Source Verified,0,n,...,f,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,2400.0,36 months,15.96%,84.33,10+ years,RENT,12252.0,Not Verified,1,n,...,f,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,10000.0,36 months,13.49%,339.31,10+ years,RENT,49200.0,Source Verified,1,n,...,f,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
5,5000.0,36 months,7.90%,156.46,3 years,RENT,36000.0,Source Verified,1,n,...,f,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [235]:
#Dropping the columns with only one unique value 
drop_columns = []
for each in data.columns:
    temp = len(data[each].dropna().unique())
    if temp == 1:
        drop_columns.append(each)
data = data.drop(drop_columns,axis = 1)

In [236]:
drop_columns

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [237]:
len(data.columns)

23

# Checking the number of missing values in each column

In [238]:
import pandas as pd
null_counts = data.isnull().sum()
print(null_counts)

loan_amnt                 0
term                      0
int_rate                  0
installment               0
emp_length                0
home_ownership            0
annual_inc                0
verification_status       0
loan_status               0
purpose                   0
title                    10
addr_state                0
dti                       0
delinq_2yrs               0
earliest_cr_line          0
inq_last_6mths            0
open_acc                  0
pub_rec                   0
revol_bal                 0
revol_util               50
total_acc                 0
last_credit_pull_d        2
pub_rec_bankruptcies    697
dtype: int64

In [239]:
#While most of the columns have 0 missing values, 2 columns have 50 or less rows with missing values, and 1 column,
#pub_rec_bankruptcies, contains 697 rows with missing values. Let's remove columns entirely where more than 1% of the rows for 
#that column contain a null value. In addition, we'll remove the remaining rows containing null values.
#This means that we'll keep the following columns and just remove rows containing missing values for them:
#title
#revol_util
#last_credit_pull_d
#and drop the pub_rec_bankruptcies column entirely since more than 1% of the rows have a missing value for this column.

In [240]:
len(data.columns)

23

In [241]:
#Let's remove columns entirely where more than 1% of the rows for 
#that column contain a null value
data = data.drop(["pub_rec_bankruptcies"],axis = 1)

In [242]:
len(data.columns)

22

In [243]:
data = data.dropna(axis = 0)

In [244]:
len(data.columns)

22

In [245]:
data.dtypes.value_counts()

object     11
float64    10
int64       1
dtype: int64

In [246]:
len(data.columns)

22

In [247]:
object_columns_df = data.select_dtypes(include = ['object'])
print(object_columns_df.iloc[0])

term                     36 months
int_rate                    10.65%
emp_length               10+ years
home_ownership                RENT
verification_status       Verified
purpose                credit_card
title                     Computer
addr_state                      AZ
earliest_cr_line          Jan-1985
revol_util                   83.7%
last_credit_pull_d        Jun-2016
Name: 0, dtype: object

In [248]:
len(data.columns)

22

In [249]:
cols = ['home_ownership', 'verification_status', 'emp_length', 'term', 'addr_state']
for each in cols:
    print(data[each].value_counts())

RENT        18513
MORTGAGE    17112
OWN          2984
OTHER          96
NONE            3
Name: home_ownership, dtype: int64
Not Verified       16696
Verified           12290
Source Verified     9722
Name: verification_status, dtype: int64
10+ years    8545
< 1 year     4513
2 years      4303
3 years      4022
4 years      3353
5 years      3202
1 year       3176
6 years      2177
7 years      1714
8 years      1442
9 years      1229
n/a          1032
Name: emp_length, dtype: int64
 36 months    29041
 60 months     9667
Name: term, dtype: int64
CA    6958
NY    3713
FL    2791
TX    2667
NJ    1798
IL    1483
PA    1473
VA    1376
GA    1364
MA    1301
OH    1179
MD    1026
AZ     850
WA     822
CO     770
NC     753
CT     730
MI     712
MO     671
MN     603
NV     481
SC     462
WI     441
AL     437
OR     436
LA     430
KY     315
OK     290
KS     260
UT     254
AR     237
DC     209
RI     196
NM     184
WV     172
HI     166
NH     166
DE     113
MT      83
WY      80
AK      78
SD      61
VT      53
MS      19
TN      17
IN       9
ID       6
NE       5
IA       5
ME       3
Name: addr_state, dtype: int64

In [250]:
len(data.columns)

22

In [251]:
#The home_ownership, verification_status, emp_length, term, and addr_state columns all contain multiple discrete values. We 
#should clean the emp_length column and treat it as a numerical one since the values have ordering (2 years of employment is less
#than 8 years).
#First, let's look at the unique value counts for the purpose and title columns to understand which column we want to keep.
print(data["purpose"].value_counts())
print(data["title"].value_counts())

debt_consolidation    18130
credit_card            5039
other                  3864
home_improvement       2897
major_purchase         2155
small_business         1762
car                    1510
wedding                 929
medical                 680
moving                  576
vacation                375
house                   369
educational             320
renewable_energy        102
Name: purpose, dtype: int64
Debt Consolidation                    2104
Debt Consolidation Loan               1632
Personal Loan                          642
Consolidation                          494
debt consolidation                     485
Credit Card Consolidation              353
Home Improvement                       346
Debt consolidation                     324
Small Business Loan                    310
Credit Card Loan                       305
Personal                               302
Consolidation Loan                     251
Home Improvement Loan                  234
personal loan                          227
personal                               211
Loan                                   208
Wedding Loan                           201
Car Loan                               195
consolidation                          193
Other Loan                             181
Credit Card Payoff                     150
Wedding                                149
Credit Card Refinance                  143
Major Purchase Loan                    139
Consolidate                            125
Medical                                118
Credit Card                            115
home improvement                       107
My Loan                                 92
Credit Cards                            91
                                      ...
credit card payments                     1
Credit Paid off                          1
Get-Out-Of-Debt Loan                     1
home ac                                  1
End of Summer Trip                       1
PropBuy                                  1
T4                                       1
Needing to Pay Lawyer Fee                1
100% Perfect Payment History             1
intravenous sedation equipment           1
New Engine Costs                         1
Investment Purchase                      1
Consolidation2                           1
payoffdiscover                           1
Car Purchase/Credit Card Payoff          1
Home inprovement loan                    1
Eco-Friendly Clothing Design             1
After college credit card pay down       1
Credit grouping                          1
Aaron's Car                              1
Caitlin's Loan                           1
Burning off fat.. and debt               1
Renaissance cabinet                      1
DNA                                      1
GettingRidOfCreditCards                  1
Debt eduction                            1
Van for the growing family               1
Tuition for Roosevelt University         1
To live and die debt free                1
Chase Card                               1
Name: title, Length: 19332, dtype: int64

In [252]:
len(data.columns)

22

In [253]:
mapping_dict = {
    "emp_length": {
        "10+ years": 10,
        "9 years": 9,
        "8 years": 8,
        "7 years": 7,
        "6 years": 6,
        "5 years": 5,
        "4 years": 4,
        "3 years": 3,
        "2 years": 2,
        
        "1 year": 1,
        "< 1 year": 0,
        "n/a": 0
    }
}
data = data.drop(["last_credit_pull_d","addr_state","title","earliest_cr_line"],axis =1)
# % is present at the end of the values.It has to be cleaned
data["int_rate"] = data['int_rate'].str.rstrip('%').astype(float)
data["revol_util"] = data["revol_util"].str.rstrip('%').astype(float)
data = data.replace(mapping_dict)

In [254]:
len(data.columns)

18

In [255]:
dummy_df = pd.get_dummies(data[["home_ownership","verification_status","purpose","term"]])
new = pd.concat([data,dummy_df],axis = 1)
data = new.drop(["home_ownership","verification_status","purpose","term"],axis = 1)

In [256]:
len(data.columns)

38

# Modelling

In [309]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38708 entries, 0 to 39785
Data columns (total 38 columns):
loan_amnt                              38708 non-null float64
int_rate                               38708 non-null float64
installment                            38708 non-null float64
emp_length                             38708 non-null int64
annual_inc                             38708 non-null float64
loan_status                            38708 non-null int64
dti                                    38708 non-null float64
delinq_2yrs                            38708 non-null float64
inq_last_6mths                         38708 non-null float64
open_acc                               38708 non-null float64
pub_rec                                38708 non-null float64
revol_bal                              38708 non-null float64
revol_util                             38708 non-null float64
total_acc                              38708 non-null float64
home_ownership_MORTGAGE                38708 non-null uint8
home_ownership_NONE                    38708 non-null uint8
home_ownership_OTHER                   38708 non-null uint8
home_ownership_OWN                     38708 non-null uint8
home_ownership_RENT                    38708 non-null uint8
verification_status_Not Verified       38708 non-null uint8
verification_status_Source Verified    38708 non-null uint8
verification_status_Verified           38708 non-null uint8
purpose_car                            38708 non-null uint8
purpose_credit_card                    38708 non-null uint8
purpose_debt_consolidation             38708 non-null uint8
purpose_educational                    38708 non-null uint8
purpose_home_improvement               38708 non-null uint8
purpose_house                          38708 non-null uint8
purpose_major_purchase                 38708 non-null uint8
purpose_medical                        38708 non-null uint8
purpose_moving                         38708 non-null uint8
purpose_other                          38708 non-null uint8
purpose_renewable_energy               38708 non-null uint8
purpose_small_business                 38708 non-null uint8
purpose_vacation                       38708 non-null uint8
purpose_wedding                        38708 non-null uint8
term_ 36 months                        38708 non-null uint8
term_ 60 months                        38708 non-null uint8
dtypes: float64(12), int64(2), uint8(24)
memory usage: 5.3 MB
None

In [310]:
data.head()

,loan_amnt,int_rate,installment,emp_length,annual_inc,loan_status,dti,delinq_2yrs,inq_last_6mths,open_acc,...,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,term_ 36 months,term_ 60 months
0,5000.0,10.65,162.87,10,24000.0,1,27.65,0.0,1.0,3.0,...,0,0,0,0,0,0,0,0,1,0
1,2500.0,15.27,59.83,0,30000.0,0,1.00,0.0,5.0,3.0,...,0,0,0,0,0,0,0,0,0,1
2,2400.0,15.96,84.33,10,12252.0,1,8.72,0.0,2.0,2.0,...,0,0,0,0,0,1,0,0,1,0
3,10000.0,13.49,339.31,10,49200.0,1,20.00,0.0,1.0,10.0,...,0,0,0,1,0,0,0,0,1,0
5,5000.0,7.90,156.46,3,36000.0,1,11.20,0.0,3.0,9.0,...,0,0,0,0,0,0,0,1,1,0

In [311]:
#In the loan_status and prediction columns, a 0 means that the loan wouldn't be paid off on time, and a 1 means that it would.

#Since we're viewing this problem from the standpoint of a conservative investor, we need to treat false positives differently 
#than false negatives. A conservative investor would want to minimize risk, and avoid false positives as much as possible. 
#They'd
#be more okay with missing out on opportunities (false negatives) than they would be with funding a risky loan (false positives).

In [313]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
cols = data.columns
train_cols = cols.drop("loan_status")
features = data[train_cols]
target = data["loan_status"]
lr.fit(features,target)
predictions = lr.predict(features)

In [339]:
tp_filter = (predictions == 1) & (data["loan_status"] == 1)
tp = len(predictions[tp_filter])
fp_filter = (predictions == 1) & (data["loan_status"] == 0)
fp = len(predictions[fp_filter])
# False negatives.
fn_filter = (predictions == 0) & (data["loan_status"] == 1)
fn = len(predictions[fn_filter])
tn_filter = (predictions == 0) & (data["loan_status"] == 0)
tn = len(predictions[tn_filter])

tpr = tp / (tp + fn)
fpr = fp / (fp + tn)
fpr

0.9977929004965974

In [338]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
lr = LogisticRegression()
predictions = cross_val_predict(lr,features,target,cv=3)
predictions = pd.Series(predictions)

tp_filter = (predictions == 1) & (data["loan_status"] == 1)
tp = len(predictions[tp_filter])
fp_filter = (predictions == 1) & (data["loan_status"] == 0)
fp = len(predictions[fp_filter])
# False negatives.
fn_filter = (predictions == 0) & (data["loan_status"] == 1)
fn = len(predictions[fn_filter])
tn_filter = (predictions == 0) & (data["loan_status"] == 0)
tn = len(predictions[tn_filter])

tpr = tp / (tp + fn)
fpr = fp / (fp + tn)
fpr

0.9977929004965974

In [ ]:
#Unfortunately, even through we're not using accuracy as an error metric, the classifier is, and it isn't accounting for the 
#imbalance in the classes. There are a few ways to get a classifier to correct for imbalanced classes. The two main ways are:

#Use oversampling and undersampling to ensure that the classifier gets input that has a balanced number of each class.
#Tell the classifier to penalize misclassifications of the less prevalent class more than the other class
#I am using the second method:Tell the classifier to penalize misclassifications of the less prevalent class more than the other
#class
#This can be done using scikit learn

In [340]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
lr = LogisticRegression(class_weight="balanced")
predictions = cross_val_predict(lr, features, target, cv=3)
predictions = pd.Series(predictions)

# False positives.
fp_filter = (predictions == 1) & (data["loan_status"] == 0)
fp = len(predictions[fp_filter])

# True positives.
tp_filter = (predictions == 1) & (data["loan_status"] == 1)
tp = len(predictions[tp_filter])

# False negatives.
fn_filter = (predictions == 0) & (data["loan_status"] == 1)
fn = len(predictions[fn_filter])

# True negatives
tn_filter = (predictions == 0) & (data["loan_status"] == 0)
tn = len(predictions[tn_filter])

# Rates
tpr = tp / (tp + fn)
fpr = fp / (fp + tn)
#print(fp)
#print(tp)
#print(fn)
#print(tn)


print(fpr)
#fpr is actually 0.38(40 percent) but there is some error that is showing a value of 0.622.Verified in another python envoirnment

0.6220342100423027

In [ ]:
#We significantly improved false positive rate in the last screen by balancing the classes, 
#which reduced true positive rate. Our true positive rate is now around 67%, and our false positive rate is around 40%

In [343]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
penalty = {
    0: 10,
    1: 1
}
lr = LogisticRegression(class_weight=penalty)
predictions = cross_val_predict(lr, features, target, cv=3)
predictions = pd.Series(predictions)
fp_filter = (predictions == 1) & (data["loan_status"] == 0)
fp = len(predictions[fp_filter])

# True positives.
tp_filter = (predictions == 1) & (data["loan_status"] == 1)
tp = len(predictions[tp_filter])

# False negatives.
fn_filter = (predictions == 0) & (data["loan_status"] == 1)
fn = len(predictions[fn_filter])

# True negatives
tn_filter = (predictions == 0) & (data["loan_status"] == 0)
tn = len(predictions[tn_filter])

# Rates
tpr = tp / (tp + fn)
fpr = fp / (fp + tn)





print(fpr)
#fpr is 9.1 percent.There is some miscalculation involved here.Eventhough 22 percent is not too bad

0.22696339893323525

In [ ]:
#Ultimately, our best model had a false positive rate of 9%, and a true positive rate of 20%. For a conservative investor, this 
#means that they make money as long as the interest rate is high enough to offset the losses from 9% of borrowers defaulting, 
#and that the pool of 20% of borrowers is large enough to make enough interest money to offset the losses.